
/* =Game Board
========================================*/

#game_board { background-color: #EEE ; float: left ; padding: 20px; width : 810px ; }

.hex { float: left ; height: 43px ; margin-right: 28px ; margin-top : -21px ; position: relative ; width : 50px ; }

.hex.row-30 { margin-top : 0 ; }
.hex.col-1 { clear : left ; }
  .hex.col-2.alt { margin-left: 39px ; }
  
.hex.col-19, .hex.col-20 { margin-right: 0 ;}

.hex .tri { position: absolute ; height : 0 ; width : 0 ; border-style: solid ; border-bottom-color: #CCC ; border-top-color: #CCC ; border-left-color: transparent ; border-right-color: transparent ; }

.hex .rect { width : 25px ; font-size: x-small; height : 43px ; position: absolute ; left : 13px ; top : 0 ; background-color: #ccc ; }
  .hex .rect p { margin: 0 ; }
  .hex .rect p.terrain { bottom: 0; position: absolute; }

.hex .top.left { top : 0 ; left : 0 ; border-width: 0 0 22px 13px ; }
  .hex.drop-hover .top.left { border-bottom-color: #666; }

.hex .top.right { top : 0 ; right: 0 ; border-width: 0 13px 22px 0 ; }
  .hex.drop-hover .top.right { border-bottom-color: #666; }

.hex .bottom.left { bottom: 0 ; left: 0 ; border-width: 22px 0 0 13px ; }
  .hex.drop-hover .bottom.left { border-top-color: #666; }

.hex .bottom.right { bottom: 0 ; right: 0 ; border-width: 22px 13px 0 0 ; }
  .hex.drop-hover .bottom.right { border-top-color: #666; }

.hex.drop-hover .rect { background-color: #666 ; }
  
  
#piece_box { background-color: #ddd; clear : both ; height: 30px ; margin-bottom: 10px ;} 
  #piece_box .pc { margin : 5px ;} 

.hex .rect .pc { font-size: medium ; margin-top: 0; }

.pc { background-color: blue ; border-radius: 5px ; color: white ; cursor: pointer ; float: left ; font-weight: bold ; height: 20px ; text-align: center ; width : 25px; z-index: 1000 ; }


.hex[data-terrain='2'] .rect { background-color: #996 ; }
  .hex[data-terrain='2'] .top.left { border-bottom-color: #996; }
  .hex[data-terrain='2'] .top.right { border-bottom-color: #996; }
  .hex[data-terrain='2'] .bottom.left { border-top-color: #996; }
  .hex[data-terrain='2'] .bottom.right { border-top-color: #996; }

.hex[data-terrain='3'] .rect { background-color: #976 ; }
  .hex[data-terrain='3'] .top.left { border-bottom-color: #976; }
  .hex[data-terrain='3'] .top.right { border-bottom-color: #976; }
  .hex[data-terrain='3'] .bottom.left { border-top-color: #976; }
  .hex[data-terrain='3'] .bottom.right { border-top-color: #976; }

.hex[data-terrain='4'] .rect { background-color: #956 ; }
  .hex[data-terrain='4'] .top.left { border-bottom-color: #956; }
  .hex[data-terrain='4'] .top.right { border-bottom-color: #956; }
  .hex[data-terrain='4'] .bottom.left { border-top-color: #956; }
  .hex[data-terrain='4'] .bottom.right { border-top-color: #956; }

.hex.show-attack .rect { background-color: #A00 ; }
  .hex.show-attack .top.left { border-bottom-color: #A00; }
  .hex.show-attack .top.right { border-bottom-color: #A00; }
  .hex.show-attack .bottom.left { border-top-color: #A00; }
  .hex.show-attack .bottom.right { border-top-color: #A00; }

.hex.highlight .rect { background-color: #FF8 ; }
  .hex.highlight .top.left { border-bottom-color: #FF8; }
  .hex.highlight .top.right { border-bottom-color: #FF8; }
  .hex.highlight .bottom.left { border-top-color: #FF8; }
  .hex.highlight .bottom.right { border-top-color: #FF8; }


/* =Info Pane
========================================*/

#info_pane { float: left; padding: 20px; }
#points_remaining { font-size: large ; font-weight: bold; }



/* =Misc
========================================*/
.clear { clear: both ;}